﻿@{ 
    string _shippingTypeName = Model.ShippingTypeName;
}
<div class="col-xs-12 nopadding cart-summary receipt-totals text-right">
    <div class="col-sm-offset-5 col-md-offset-6">
        <div class="form-group">
            <div class="col-xs-6 nopadding">@WebStore_Resources.ColumnSubTotal</div>
            <div class="col-xs-6 nopadding" data-test-selector="divSubtotal">@Helper.FormatPriceWithCurrency(Model.SubTotal, Model.CultureCode)</div>
        </div>
        @if (Model.DiscountAmount != 0)
        {
            <div class="form-group">
                <div class="col-xs-6 nopadding">@WebStore_Resources.ColumnDiscounts</div>
                <div class="col-xs-6 nopadding" data-test-selector="divDiscountAmount">@Helper.FormatPriceWithCurrency(0 - Model.DiscountAmount, Model.CultureCode)</div>
            </div>
        }
        @if (Model.TaxCost > 0)
        {
            <div class="form-group">
                <div class="col-xs-6 nopadding">@WebStore_Resources.ColumnTax</div>
                <div class="col-xs-6 nopadding" data-test-selector="divTaxCost">@Helper.FormatPriceWithCurrency(Model.TaxCost, Model.CultureCode)</div>
            </div>
        }
        @if (Model.ShippingCost > 0)
        {
            <div class="form-group">
                <div class="col-xs-6 nopadding">@WebStore_Resources.LabelShippingCost (@Html.RenderBlock(_shippingTypeName)) </div>
                <div class="col-xs-6 nopadding" data-test-selector="divShippingCost">@Helper.FormatPriceWithCurrency(Model.ShippingCost, Model.CultureCode)</div>
            </div>
        }
        @if (Model.GiftCardAmount > 0)
        {
            <div class="form-group">
                <div class="col-xs-6 nopadding">@WebStore_Resources.LabelVoucherAmount</div>
                <div class="col-xs-6 nopadding" data-test-selector="divGiftCardAmount">@Helper.FormatPriceWithCurrency(0 - Model.GiftCardAmount, Model.CultureCode)</div>
            </div>
        }

        @if (Model.CSRDiscountAmount > 0)
        {
            <div class="form-group">
                <div class="col-xs-6 nopadding">@WebStore_Resources.LabelCSRDiscountAmount</div>
                <div class="col-xs-6 nopadding" data-test-selector="divCSRDiscountAmount">@Helper.FormatPriceWithCurrency(0 - Convert.ToDecimal(Model.CSRDiscountAmount), Model.CultureCode)</div>
            </div>
        }

        <div class="form-group receipt-total">
            <div class="col-xs-6 nopadding"><h2>@WebStore_Resources.ColumnOrderTotal</h2></div>
            <div class="col-xs-6 nopadding" data-test-selector="divOrderTotal"><h2>@Helper.FormatPriceWithCurrency(Convert.ToDecimal(Model.Total), Model.CultureCode)</h2></div>
        </div>
    </div>
</div>
