﻿@using Znode.Engine.WebStore.ViewModels
@using Microsoft.AspNet.Identity
@model UserViewModel
<div id="layout-account-orderhistory" class="main-wrapper">
    <div class="container">
        <div class="row user-account">
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <div class="panel">
                        <div role="tab" id="DashboardOne">
                            <div class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <h1 class="section-header">
                                        <text class="visible-xs hidden-lg hidden-md">Hello, @User.Identity.GetUserName()</text>
                                        <text class="hidden-xs">@WebStore_Resources.TitleMyAccount</text>
                                    </h1>
                                </a>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse mobile-collapse" role="tabpanel" aria-labelledby="DashboardOne">
                            <nav class="account-container-menu">
                                @Html.Partial("_AccountMenu")
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 order-history right-container">
                    <div class="col-sm-12">
                        <h2 class="section-header">@string.Format(WebStore_Resources.TextGiftCardHistory, Model.GiftCardHistory.Count)</h2>
                        @Html.Partial("_GiftCardHistory", Model.GiftCardHistory)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
