﻿@import "_base.scss";
.single-page-checkout {margin-top:2%;
    .address-block {
        .address-name {
            font-family: $base-font-family-bold;
            margin-bottom: 5px;
        }

        .address-details {
            min-height: 100px;
        }
    }

    .review-order {
        .cart-item-quantity input[type="text"] {
            border: none;
            background-color: transparent;
            pointer-events: none;
        }

        .shopping-cart {
            padding: 0;

            .cart-total {
                border: 0 !important;
            }

            .cart-summary .order-summary {
                margin-top: 0;
            }
        }

        .cart-products {
            .remove-item-link, .input-group-btn {
                display: none
            }
        }
    }

    .cart-item-details {
        display: flex;
        width: 75%;
        float: left;

        .cart-image {
            width: 45px;
        }

        .cart-description {
            flex: 1;
            padding: 0 0 0 10px;
            margin-top: 0;
            /*word-break: break-all;*/
        }
    }

    .cart-item-quantity, .cart-item-total {
        clear: right;
    }

    .signle-page-payment .credit-card-container {
        .nav-tabs {
            li {
                width: 50%;
            }

            li a {
                text-align: center;
                background-color: #f5eded;
                color: $base-color-primary;
                border-color: #f5eded #f5eded transparent
            }

            li.active a {
                background-color: $base-color-primary;
                color: $base-color-white;
            }
        }

        .tab-content {
            padding: 10px 0;
            display: block;
        }

        .section-heading {
            font-size: $base-font-size + 3;
            border-bottom: 1px solid $border-bgcolor-default;
            font-weight: 600;
            color: #6a6367;
            padding-bottom: 10px;
            display: none;
        }

        .save-cart {
            margin-bottom: 10px;

            ul {
                padding: 0;
            }

            .input-radioButton {
                margin-right: 10px;
            }
        }
    }

    .cart-total-footnote {
        display: none;
    }

    .styled-input .disable-radio::before {
        color: #ddd !important;
    }

    .checkout-box {
        .title {
            padding: 15px 0px 15px 0px;
            margin-top: 15px;
            color: $base-color-primary;
            border-bottom: 2px solid $base-color-primary;
            text-transform: uppercase;
            line-height: 15px;
            font-size: $base-heading-font-mobile - 4;
            font-family: $base-font-family-montserrat-700;
        }
    }

    .cart-products {
        thead {
            display: none;
        }

        tbody {
            border-top: none;

            tr {
                width: 100%;
                border-bottom: 1px solid #ddd;
            }
        }

        .remove-item {
            position: absolute;
            left: 0;
        }

        td {
            border-bottom: 0 !important;
            position: relative;
            vertical-align: top !important;
        }

        td.cart-item-unitprice {
            margin-top: 10px;
            display: none;
        }

        .thead-text {
            position: static !important;
        }
    }

    .cart-total-title {
        padding: 0;

        .cart-item-remove-all {
            position: absolute;
            right: 2px;
            top: 22px;
        }
    }

    .cart-left-section {
        padding: 0;
    }

    .cart-image img {
        float: none;
        width: auto;
    }

    td.cart-item-details {
        white-space: normal !important;
    }

    .chk-section, .cart-promocode {
       
        .head-text {
            h1 {
                font-size: 22px;
                text-transform: uppercase;
                padding: 5px 15px;
            }
        }

        table {
            border: 0;

            td {
                padding: 10px 0px 10px 0px !important
            }

            .cart-item-total, .cart-item-quantity {
                padding-top: 13px !important;
            }

            .cart-result {
                margin-top: 8px;
            }
        }
    }

    .cart-total {
        margin-left: 0;

        .align-right {
            padding-right: 0px;
        }
    }

    .create-new-address {
        position: absolute;
        right: 40px;
        top: 10px;
        font-family: $base-font-family-bold;
        z-index: 999;

        a {
            color: $base-color-Link;
        }
    }

    .address-change {
        position: absolute;
        top: 10px;
        right: 0px;
        z-index: 999;
        font-family: $base-font-family-bold;

        a {
            color: $base-color-Link;
        }
    }

    .address-block {
        padding-top: 10px;

        .address-change, .create-new-address {
            font-family: $base-font-family-bold;
            text-align: right;

            a {
                width: auto;
                color: $base-color-Link;
                text-transform: uppercase;
            }
        }
    }
}
.checkout-reciept h1 {
    font-size: $base-heading-font-primary;
}
.cart-promocode{
    .head-text{border-bottom:1px solid $border-bgcolor-default;padding-right:0;}
    .form-group{padding:5px 15px;}
    .promotion-block{border: 1px solid red; background: rgb(255, 206, 206)}
}
.shopping-block-item .cart-products .cart-item-quantity input[type="text"]{border:1px solid $border-bgcolor-default;width:48px;}
.shipping-method .styled-radio .input-label{font-weight:normal;}
.amazon-pay-review{
    .hide-in-amazon-checkout{display:none;}
    .cart-item-quantity input[type="text"]{border:none;background-color:transparent;width:auto;pointer-events:none;}
} 
.address-popup{    
    .modal-body{display:inline-block;background-color:$base-color-white;}
    .edit-address-form{margin-top:0;}
}

.login-container-popup{
    .login-container{margin:0;
        .inner-container{border:0;padding:0 25px;
          .social{width:100%;}
        }
        .login-form-forgotpassword{display:none;}
    }
}

.ui-dialog{background-color:$base-color-white;box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);z-index:99999 !important;
    .ui-dialog-titlebar{font-size:$base-font-size + 2;font-family:$base-font-family-bold;display:block;line-height:26px;color:$base-color-white;background-color:$base-color-primary;padding:15px;}
    .ui-dialog-content{padding:15px;color:$text-fgcolor-default;}
    .ui-dialog-titlebar-close{font-family:$znode-icon-font;font-weight:normal;font-size:$base-font-size + 2;color:$base-color-secondary;content:"\f057";position:absolute;right:5px;top:5px;}
    .ui-dialog-buttonpane{float:left;width:100%;background-color:$base-color-white;padding:10px 15px;border-top:1px solid $border-bgcolor-default;
            .ui-dialog-buttonset{float:right;
                button{@include btn-text;font-size:$base-font-size;padding:0 15px;margin-left:5px;height:24px;line-height:23px;text-transform:capitalize;color:$base-color-white;background-color:$base-bgcolor-button-primary;overflow:hidden;float:left;border-radius:2px;}
            }        
    }
}
.ui-md-popup{width:600px!important; height:auto;}
//amazon css
.amazon-checkout {
    .shipping-address {padding-right:30px;
        .title{text-transform:uppercase;font-weight:bold;}
    }
    .shipping-method .title{padding-left:10px;}
    .login-off-btn{margin-left:0 !important;}
    .amazon-right{margin-top:6px;}
}
// Media Query.
@include screensize(x-small) {
    .single-page-checkout {padding: 0 5px;
        .shopping-cart .cart-products .cart-item-total .cart-result{text-align:right;}
        .shopping-cart .cart-products .cart-item-image{height:auto;}
        .chk-section table .cart-item-quantity{width:70%;}
        .cart-products thead{display:none;}
        .cart-item-details {display: table-cell;float: initial;}
        .cart-image img{width:auto;}
        .shipping-address {padding-right: 0;}
        .checkout-box{
            .title{font-size:$base-font-size + 2;font-family:$base-font-family-bold;}
        }

    }
    .checkout-reciept {
        padding: 0 15px;
    }
}

@include screensize(small) {
    .single-page-checkout{padding:0;
        .shipping-address-content,.billing-address-content{
           .shipping-address-edit{padding-right:15px;}
           .shipping-address-edit-block{
               .address-book-block{display:flex;flex-wrap:wrap;}
           }
        }
        .cart-products tbody{width:100%;border-bottom: 1px solid #ddd;border-top:none;
            .cart-item-details{width:100%;}
            .cart-item-quantity, .cart-item-total{float:none;width:auto;clear:none;}
        }
        
   } 
    .checkout-reciept{padding:0;}
}
@include screensize(medium) {
    .single-page-checkout{
        .shipping-address{padding-right:30px;}
        .shipping-address-content,.billing-address-content,.shipping-method,.signle-page-payment{padding: 0 40px 0 0;
            .shipping-address-edit{padding-right:15px;}
        }       
    } 
}
@include screensize(x-large) {
    .single-page-checkout{
        .shipping-address-content,.billing-address-content,.shipping-method,.signle-page-payment{padding: 0 100px 0 0;}       
    } 
}
