﻿@using Znode.Engine.Admin.Models
@model GridModel

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@Admin_Resources.UserAccountHeader</h4>
        </div>
        <div class="modal-body">
            <div id="@Model.FrontObjectName">

                <div class="col-sm-12 page-container">
                    <div class="col-sm-12 list-container">
                        @{
                            @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model)
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            @Html.Hidden("hdnFolderId", ViewData["FolderID"])
            <div class="pull-right top-shift">
                <button type="button" class="btn-text-icon" onclick="javascript: var treeView = new TreeView(); treeView.ShareFolderWithUsers();"><i class="z-save"></i>@Admin_Resources.ButtonSave</button>
                <button type="button" class="btn-text-icon" data-dismiss="modal"><i class="z-cancel"></i>@Admin_Resources.ButtonCancel</button>
            </div>
        </div>
    </div>
</div>
