﻿@model string
<div class="col-sm-12 nopadding">
    <div class="form-group">
        <div class="col-xs-12 nopadding">
            <p>@WebStore_Resources.TitleZipCode</p>
        </div>
        <div class="col-xs-12 nopadding">
            <div class="input-group cart-apply-promocode">
                <div class="right-inner-icon">
                    <input data-test-selector="txtZipCode" type="text" id="zipcode" name="zipcode" value="@Model" class="form-input" onblur="Cart.prototype.ShowHideCancelButton();" />
                    <span type="button" id="CancleShippingEstimator" onclick="Cart.prototype.ClearShippingEstimates();" style="display:none;" class="cancel-shipping-estimator"><i class="zf-close"></i></span>
                </div>
                <span class="input-group-btn">
                    <button data-test-selector="btnShippingEstimator" type="button" id="shippingEstimator" class="btn-text btn-bg-primary" onclick="Cart.prototype.GetShippingEstimates();">@WebStore_Resources.LabelEstimate</button>
                </span>
            </div>
            <span data-test-selector="lblShippingErrorMsg" id="zipcodeerrormessage" class="field-validation-error"></span>
        </div>
    </div>
    <div class="form-group">
        <div id="shippingOptionsContainer" class="shipping-estimate-details field-validation-error"></div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var zipCode = $("#zipcode").val();
        if (typeof zipCode != 'undefined' && zipCode!= null && zipCode !="") {
            Cart.prototype.GetShippingEstimates();
        }
    })

    //Code for hit estimated shipping button on press enter key
    $(document).on("keypress", "#zipcode", function (e) {
        if (e.which == 13) {
            Cart.prototype.GetShippingEstimates();
        }
    });
</script>